body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  color: #000;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
}

p {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 575px) {
  .container {
    max-width: 575px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.header {
  padding-top: 36px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins";
  color: #000;
  margin-left: 14px;
  text-align: start;
  cursor: pointer;
}
.header__logo-grey {
  color: #939393;
}
.header__nav {
  display: none;
}
.header__btn-wrap {
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #263238;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu-button {
  background-color: transparent;
  border: none;
}
.menu__open-icon {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}
.menu__button:hover__close-icon {
  fill: #C4C4C4;
}
.menu__close-icon {
  fill: #fff;
}
.menu__nav {
  margin-bottom: 95px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item {
  border-top: 0.5px solid #C4C4C4;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__item:last-child {
  border-bottom: 1px solid #fff;
}
.menu__link {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
.menu__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__final-btn {
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding: 12px 40px;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 575px) {
  .header {
    padding-top: 39px;
  }
  .header__logo {
    font-size: 30px;
    margin-left: 32px;
  }
  .menu__link {
    font-size: 18px;
  }
  .menu__button {
    margin-right: 565px;
  }
}
@media screen and (min-width: 992px) {
  .menu-button {
    display: none;
  }
  .header {
    padding-top: 30px;
  }
  .header__nav {
    display: block;
    padding-top: 5px;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .header__link {
    color: #263238;
    font-size: 16px;
    font-weight: 500;
    padding-right: 20px;
  }
  .header__btn-wrap {
    display: block;
  }
  .header__btn {
    border-radius: 4px;
    border: 1px solid #000;
    background-color: transparent;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    padding: 12px 40px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 57px;
  }
  .header__logo {
    font-size: 36px;
  }
  .header__link {
    font-size: 20px;
  }
  .header__btn {
    font-size: 24px;
  }
}
.hero {
  padding-top: 29px;
  padding-bottom: 51px;
}
.hero__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  padding-bottom: 20px;
  min-width: 220px;
}
.hero__text {
  font-size: 14px;
  font-weight: 400;
  color: #8F95A5;
  text-align: center;
  padding-bottom: 35px;
}
.hero__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero__btn {
  border: 1px solid #263238;
  border-radius: 5px;
  background-color: #263238;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 18px 89px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  -webkit-transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: transparent;
  color: #263238;
}

@media screen and (min-width: 575px) {
  .hero {
    padding-top: 11px;
    padding-bottom: 96px;
  }
  .hero__img {
    max-width: 425px;
  }
  .hero__title {
    font-size: 34px;
    line-height: 45px;
    padding-bottom: 26px;
  }
  .hero__text {
    font-size: 14px;
    padding-bottom: 37px;
  }
  .hero__btn {
    font-size: 18px;
    padding: 24px 102px;
  }
}
@media screen and (min-width: 992px) {
  .hero {
    padding-top: 81px;
    padding-bottom: 72px;
  }
  .hero__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .hero__title {
    font-size: 48px;
    max-width: 290px;
    padding-bottom: 27px;
    text-align: start;
    line-height: 64px;
  }
  .hero__text {
    padding-bottom: 33px;
    font-size: 20px;
    max-width: 390px;
    text-align: start;
  }
  .hero__btn-wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero__btn {
    font-size: 24px;
    padding: 22px 78px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 115px;
    padding-bottom: 147px;
  }
  .hero__title {
    font-size: 64px;
    line-height: 80px;
    padding-bottom: 40px;
    min-width: 350px;
  }
  .hero__text {
    padding-bottom: 61px;
    font-size: 24px;
    min-width: 530px;
    line-height: 36px;
  }
  .hero__btn {
    font-size: 36px;
    padding: 25px 110px;
    border-radius: 15px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms, visibility 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms;
  transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms, visibility 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms;
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 285px;
  min-height: 381px;
  background-color: #263238;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms;
  transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms;
}
.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}
.modal__close:hover__icon {
  fill: #C4C4C4;
}
.modal__icon {
  fill: #fff;
}
.modal__title {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.6px;
  padding-bottom: 18px;
}
.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__item {
  margin-bottom: 15px;
}
.modal__input {
  padding: 0;
  padding-left: 12px;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  width: 258px;
  cursor: auto;
}
.modal__input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
.modal__input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
.modal__input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
.modal__input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
.modal__input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
.modal__confirm-wrap {
  margin-left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__confirm-describe {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  letter-spacing: 0.6px;
}
.modal__privacy {
  cursor: pointer;
  color: cornflowerblue;
}
.modal__privacy:hover {
  text-decoration: underline;
}
.modal__policy {
  cursor: pointer;
  color: cornflowerblue;
}
.modal__policy:hover {
  text-decoration: underline;
}
.modal__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.modal__btn {
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding: 12px 40px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

@media screen and (min-width: 575px) {
  .modal {
    min-width: 575px;
    min-height: 615px;
  }
  .modal__title {
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 25px;
  }
  .modal__item {
    margin-bottom: 20px;
  }
  .modal__input {
    width: 408px;
    height: 55px;
    padding-left: 20px;
  }
  .modal__input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .modal__input::-moz-placeholder {
    font-size: 14px;
  }
  .modal__input:-ms-input-placeholder {
    font-size: 14px;
  }
  .modal__input::-ms-input-placeholder {
    font-size: 14px;
  }
  .modal__input::placeholder {
    font-size: 14px;
  }
  .modal__confirm-wrap {
    margin-left: 85px;
  }
  .modal__confirm-describe {
    font-size: 16px;
  }
  .modal__btn-wrap {
    margin-top: 70px;
  }
  .modal__btn {
    font-size: 28px;
    padding: 20px 70px;
  }
}
.skills {
  padding-top: 91px;
  padding-bottom: 57px;
}
.skills__title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 32px;
}
.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills__speaking, .skills__listening, .skills__reading {
  background-color: #F5F5F5;
  padding-top: 16px;
  padding-bottom: 45px;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 21px;
}
.skills__writing {
  background-color: #F5F5F5;
  padding-top: 16px;
  padding-bottom: 45px;
  margin-top: 21px;
  padding-right: 45px;
  padding-left: 45px;
}
.skills__img {
  max-width: 213px;
}
.skills__subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 80px;
}
.skills__text {
  font-size: 12px;
  font-weight: 400;
  color: #8F95A5;
  max-width: 288px;
  line-height: 20px;
  letter-spacing: 0.5px;
}
.skills__text-secondary {
  font-size: 13px;
  font-weight: 400;
  color: #8F95A5;
  padding-top: 35px;
  max-width: 288px;
  line-height: 20px;
  letter-spacing: 0.5px;
}
.skills__btn {
  border: 1px solid #263238;
  border-radius: 5px;
  background-color: #263238;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 14px 43px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  -webkit-transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
  margin-top: 45px;
}
.skills__btn:hover, .skills__btn:focus {
  background-color: transparent;
  color: #263238;
}

@media screen and (min-width: 575px) {
  .skills {
    padding-top: 96px;
    padding-bottom: 84px;
  }
  .skills__title {
    font-size: 30px;
  }
  .skills__speaking, .skills__listening, .skills__reading, .skills__writing {
    padding-top: 16px;
    padding-bottom: 45px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 34px;
  }
  .skills__img {
    max-width: 185px;
  }
  .skills__text {
    max-width: 185px;
  }
}
.about {
  padding-top: 51px;
  padding-bottom: 84px;
}
.about__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 80px;
  text-align: center;
  margin-bottom: 24px;
}
.about__img-wrap {
  margin: 0 auto;
  max-width: 283px;
}
.about__img {
  width: 100%;
}
.about__text {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #8F95A5;
  padding-top: 24px;
  line-height: 20px;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__number {
  line-height: 80px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.about__describe {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #8F95A5;
}

@media screen and (min-width: 575px) {
  .about {
    padding-top: 84px;
    padding-bottom: 131px;
  }
  .about__title {
    font-size: 30px;
  }
  .about__text {
    font-size: 14px;
    max-width: 500px;
  }
  .about__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 992px) {
  .about {
    padding-top: 106px;
    padding-bottom: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about__title {
    font-size: 36px;
    text-align: start;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
  }
  .about__img-wrap {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    left: 400px;
  }
  .about__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 400px;
    padding-top: 0;
  }
  .about__list {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about__item:not(:first-child) {
    margin-left: 82px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 280px;
    padding-bottom: 251px;
  }
  .about__title {
    font-size: 48px;
    margin-bottom: 24px;
  }
  .about__img-wrap {
    left: 900px;
  }
  .about__text {
    font-size: 20px;
    max-width: 635px;
    line-height: 30px;
    text-align: start;
    margin-bottom: 70px;
  }
  .about__number {
    font-size: 48px;
  }
  .about__describe {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */